<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Mon super blog !</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category">Les catégories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/article/createarticle">Créer un article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auteur/createauteur">Créer un auteur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/article/createcategorie">Créer une catégorie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/article/createcommentaire">Créer un commentaire</a>
      </li>
    </ul>
  </div>
</nav>



<body>
	<h1>Article : </h1>
	<div th:each="articles: ${articles}" class="card" style="width: 18rem;">
	  <img src="https://static.cotemaison.fr/medias_11785/w_1884,h_1054,c_crop,x_164,y_14/w_2000,h_1125,c_fill,g_north/v1521805733/cuisine-blanche-d-angle_6034274.jpg" class="card-img-top" alt="...">
	  <div class="card-body">
	    <h5 class="card-title"><span th:text="${articles.id}"></span></h5>
	    <p class="card-text"><span th:text="${articles.contenu}"></span></p>
	  </div>
	</div>
</body>
</html>