<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Mon super blog !</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category">Les catégories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/article/createarticle">Créer un article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auteur/createauteur">Créer un auteur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/article/createcategory">Créer une catégorie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/commentaire/createcommentaire">Créer un commentaire</a>
      </li>
    </ul>
  </div>
</nav>



<body>
    <p>Articles !</p>
    <tr th:each="articles: ${articles}">
        <td><span th:text="${articles.id}"></span></td>
        <td><span th:text="${articles.datearticle}"></span></td>
        <td><span th:text="${articles.contenu}"></span></td>
    </tr>
    <br>
    <br>
    <p>Auteurs !</p>
    <tr th:each="auteurs: ${auteurs}">
        <td><span th:text="${auteurs.id}"></span></td>
        <td><span th:text="${auteurs.nom}"></span></td>
        <td><span th:text="${auteurs.motdepasse}"></span></td>
        <td><span th:text="${auteurs.email}"></span></td>
    </tr>
    <br>
    <br>
    <p>Commentaires !</p>
    <tr th:each="commentaires: ${commentaires}">
        <td><span th:text="${commentaires.id}"></span></td>
        <td><span th:text="${commentaires.contenu}"></span></td>
        <td><span th:text="${commentaires.datecommentaire}"></span></td>
        <td><span th:text="${commentaires.idauteur}"></span></td>
        <td><span th:text="${commentaires.idarticle}"></span></td>
    </tr>
</body>
</html>